header{
    display: flex;
    justify-content: center;
    margin: 10px;
}

hr{
    margin: 40px 0;
}

main{
    position: fixed;
    overflow-y: scroll;
    height: calc(100% - 125px);
    width: 78%;
    right: 11%;
    left: 11%;
}

main::-webkit-scrollbar{
    display: none;
}

.card{
    align-items: center;
    text-align: center;
    margin: 25px;
    height: 28rem;
}



.card-img{
    width: 20rem;
    margin-top: 10px;
    height: 15rem;
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#carrinho{
    margin-top: 10px;
    width: 13%;
    height: calc(100% - 140px);
    position: fixed;
    background-color: rgb(210, 210, 210);
    border: 2px black solid;
    border-radius: 15px;
    z-index: 4;
    right: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#carrinho div{
    margin-bottom: 10px;
    margin-top: 10px;
}

#itens{
    overflow-y: scroll;
    overflow-wrap: break-word;
    height: calc(100% - 100px);
    width: 80%;
}

#itens::-webkit-scrollbar{
    display: none;
}

#bebidas{
    display: none;
}

#bebidas div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#salgados{
    display: none;
}

#salgados div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#doces{
    display: none;
}
#doces div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#comprar{
    text-align: center;
}

#finalizar{
    position: fixed;
    top: 35%;
    height: 25%;
    width: 60rem;
    right: 25%;
    border: 2px solid black;
    display: flex;
    background-color: gray;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#finalizar input{
    width: 50rem;
    font-size: 15px;
}

#finalizar-section{
    position: fixed;
    background-color: rgba(194, 190, 190, 0.70);
    width: 100%;
    height: calc(100% - 120px);
    display: none;
    z-index: 5;
    bottom: 50px;
    right: 0;
}

#final{
    color: green;
    position: fixed;
    top: 35%;
    height: 25%;
    width: 50%;
    right: 25%;
    border: 2px solid black;
    display: none;
    flex-direction: column;
    background-color: gray;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#final img{
    height: 5rem;
}

#cancelar{
    margin-top: 10px;
    width: 13%;
    position: fixed;
    z-index: 4;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}