<main>
<div>
    <header>
        <h2>Salgados</h2>
    </header>
    <section>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Nome do produto</h5>
              <p class="card-text">Descrição do produto: nome e valor.</p>
              <a href="#" class="btn btn-primary">Adicionar</a>
            </div>
          </div>
    </section>

    <hr>
    <header>
        <h2>Bebidas</h2>
    </header>
    <section>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Nome do produto</h5>
              <p class="card-text">Descrição do produto: nome e valor.</p>
              <a href="#" class="btn btn-primary">Adicionar</a>
            </div>
          </div>
    </section>

    <hr>
    <header>
        <h2>Doces</h2>
    </header>
    <section>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Nome do produto</h5>
              <p class="card-text">Descrição do produto: nome e valor.</p>
              <a href="#" class="btn btn-primary">Adicionar</a>
            </div>
          </div>
    </section>
</div>
</main>