<div id="carrinho">
  <div id="itens">
  <h4>CARRINHO</h4>
        <div id="bebidas">
          <h5>Bebidas</h5>
          <div *ngFor="let b of pedido.bebida">
            <p>{{b}}</p>
            <button class="btn btn-danger btn-sm rounded-1" (click)="removerBebida(b)"><i class="fa fa-trash"></i></button>
          </div>
        </div>

        <div id="salgados">
          <h5>Salgados</h5>
          <div *ngFor="let s of pedido.salgado">
            <p>{{s}}</p>
            <button class="btn btn-danger btn-sm rounded-1" (click)="removerSalgado(s)"><i class="fa fa-trash"></i></button>
          </div>
        </div>

        <div id="doces">
          <h5>Doces</h5>
          <div *ngFor="let d of pedido.doce">
            <p>{{d}}</p>
            <button class="btn btn-danger btn-sm rounded-1" (click)="removerDoce(d)"><i class="fa fa-trash"></i></button>
          </div>
        </div>
    </div>
    <div id="comprar">
      <h4 id="valor">Valor: R${{pedido.valorTotal}}</h4>
      <button class="btn btn-success" (click)="nomeCliente()">Finalizar</button>
    </div>
</div>  
<main>
    <header>
        <h2>Bebidas</h2>
    </header>
    <section>
        <div class="card" style="width: 18rem;" *ngFor="let b of bebidas">
            <div class="card-img">
              <img class="card-img-top" src="{{b.imagem}}" alt="Imagem de capa do card">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{b.nomeBebida}}</h5>
              <p class="card-text">R$ {{b.valor}}</p>
              <p class="card-text">{{b.descricao}}</p>
              <button class="btn btn-primary" (click)="comprarBebida(b.nomeBebida, b.valor)">Comprar</button>
            </div>
          </div>
    </section>
    
    <hr>
    
    <header>
        <h2>Salgados</h2>
    </header>
    <section>
      <div class="card" style="width: 18rem;" *ngFor="let s of salgados">
        <div class="card-img">
          <img class="card-img-top" src="{{s.imagem}}" alt="Imagem de capa do card">
        </div>
          <div class="card-body">
            <h5 class="card-title">{{s.nomeSalgado}}</h5>
            <p class="card-text">R$ {{s.valor}}</p>
            <p class="card-text">{{s.descricao}}</p>
            <button class="btn btn-primary" (click)="comprarSalgado(s.nomeSalgado, s.valor)">Comprar</button>
          </div>
        </div>
  </section>

    <hr>
    <header>
        <h2>Doces</h2>
    </header>
    <section>
        <div class="card" style="width: 18rem;" *ngFor="let d of doces">
          <div class="card-img">
            <img class="card-img-top" src="{{d.imagem}}" alt="Imagem de capa do card">
          </div>
            <div class="card-body">
              <h5 class="card-title">{{d.nomeDoce}}</h5>
              <p class="card-text">R$ {{d.valor}}</p>
              <p class="card-text">{{d.descricao}}</p>
              <button class="btn btn-primary" (click)="comprarDoce(d.nomeDoce, d.valor)">Comprar</button>
            </div>
          </div>
    </section>

    <section id="finalizar-section">
      <div id="finalizar">
        <form (ngSubmit) = "onSubmit()">
          <label>Digite seu nome:</label>
          <input type="text" class="form-control" id="cliente"  [(ngModel)] = "pedido.cliente" name="cliente"autocomplete="off">
          <button class="btn btn-success" type="submit">Finalizar Pedido</button>
        </form>
      </div>
      
    </section>
</main>