header{
    display: flex;
    justify-content: center;
    margin: 10px;
}

hr{
    margin: 40px 0;
}

main{
    position: fixed;
    overflow-y: scroll;
    height: calc(100% - 125px);
    width: 78%;
    right: 11%;
    left: 11%;
}

main::-webkit-scrollbar{
    display: none;
}

.card{
    align-items: center;
    text-align: center;
    margin: 25px;
}



.card-img{
    width: 15rem;
    margin-top: 10px;
    height: 15rem;
}

img{
    height:100%;

}

section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

